.pub_img{
    object-fit:fit;
    width:60%;
    height:200px;
}

.container_pub_d{
    margin-top:0px;
}
.pub_m{
    position: inherit;
    height:250px;
    width:300px;
    margin-top: -80px;
}
@media (min-width: 48em) {
    .pub_img{
        height:100%;
    }
    .container_pub{
        height:50%;
        margin-top:50%;
        width:235px;
        margin-left:-50px
    }

    .pub_m{
        height:250px;
        width:550px;
    }
    
}

.container_pub{
    height: 400px;

}