.twitter-share, .facebook-share {
  background: #fff;
  color: rgb(2, 57, 73);
  cursor: pointer;
  display: inline-block;
  padding: 1em 2em;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
  
.twitter-share:hover, .facebook-share:hover {
  color: #FAB107;
  
}